.UpperSection{
    background-image: url("../assets/NavBG.png");

    /* USe padding for now */
    padding-bottom: 110px;
}
.UnderNavCont{
    display: flex;
    justify-content: space-evenly;
    margin-top: 75px;
}