.UpperSection{
    background-image: url("../assets/NavBG.png");
    background-repeat:no-repeat;
    padding-bottom: 60px;
}
.UnderNavCont{
    display: flex;
    justify-content: space-evenly;
    margin-top: 70px;
}