.UpperSection{
    background-image: url("../assets/ld.png");
    background-repeat:no-repeat;
    padding-bottom: 55px;
    border-bottom:5px solid rgb(218, 5, 237);
    border-radius: 0 0 75px 75px;

}
.UnderNavCont{
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
}
.Whole{
    background-color: rgba(108, 3, 85, 0.508);
}