@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&family=Shantell+Sans&family=Tilt+Prism&display=swap');

.UpperSection{
  background-image: url("../assets/images/land.png");
  background-repeat:no-repeat;
  background-size: cover;
  padding-top: 5px;
  padding-bottom: 55px;
  border-bottom:5px solid rgb(5, 237, 133);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;

}
.UnderNavCont{
  display: flex;
  justify-content: space-evenly;
  margin-top: 60px;
}
.ReglogCont{
    width:450px;
    padding:20px;
    min-height: 500px;
    height: auto;
    background: rgba(127, 163, 141, 0.249);
    border: 2px solid rgba(6, 163, 116, 0.66);
    border-radius: 50px;
    backdrop-filter: blur(2px);
    box-shadow: rgba(10, 231, 65, 0.905) 0px 22px 70px 4px;
    transition: 0.4s;
}
.Reglog{
    display: inline-grid;
}
.but{
    margin-top: 10px;
    padding:10px;
    border:2px solid rgba(6, 163, 116, 0.863);
    border-radius: 50px;
    background-color:rgba(83, 230, 125, 0.8);
    transition: 0.4s;
}
.stl , .hh , .hh4{
    color:whitesmoke;
    font-family: 'Pacifico', cursive;
}
.stl{
    font-size: 17px;
}
.but:hover{
    border: 2px solid;
    border-color:whitesmoke;
    background-color: transparent;
}
.ReglogCont:hover {
    background: rgba(107, 223, 153, 0.613);
    border: 2px solid rgba(245, 241, 245, 0.968);
    box-shadow: rgba(15, 225, 169, 0.874) 0px 22px 70px 4px;
}
.navv{
    border-bottom: 2px dotted rgba(9, 243, 95, 0.72);
    display: flex;
    align-items: center;
    box-shadow:  rgb(9, 243, 95) 0px 3px 5px -2px;
    border-bottom-style: ridge;
    color: rgb(38, 133, 33);
    font-family: 'Rampart One', cursive;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: space-between;
}
.Usection {
    width: 500px;
    margin-right: 10px;
    color: rgb(66, 153, 109);
    font-family: 'Shantell Sans', cursive;
}
.Usection p{
    font-size: 30px;
}

.Usection h2{
    color: rgb(38, 133, 33);
    font-size: 75px;
    font-family: 'Rampart One', cursive;
}

.middleSample:hover{
    cursor: pointer;
}
.middleSection{
    /* margin:50px auto; */
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: space-evenly;
    background: rgb(138, 250, 157);
    background: radial-gradient(circle, rgba(193,247,201,1) 0%, rgba(255,255,255,0) 100%);
}
/* .bottomSection{ */
  
/* } */
/* .lbgimg{
    aspect-ratio: 960/400;
     background-repeat:no-repeat;
     width: 100%;
    background-size: cover;
    background-position: center;
}
.lbg{
    background-image: url("../assets/svgs/layers.svg"); 
} */