@import url('https://fonts.googleapis.com/css2?family=Rampart+One&family=Shantell+Sans&family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');
.UpperSection{
  background-image: url("../assets/images/land.png");
  background-repeat:no-repeat;
  background-size: cover;
  padding-top: 5px;
  padding-bottom: 55px;
  border-bottom:5px solid rgb(5, 237, 133);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;

}
body{
    margin:0;
}
.userCont{
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, rgb(255,255,255,0) 35%, rgba(127, 255, 146)100%);
    height: 100vh;
}

.ReglogCont{
    width:450px;
    padding:20px;
    min-height: 500px;
   
    height: auto;
    background: rgba(36, 171, 87, 0.242);
    border: 2px solid rgba(6, 163, 116, 0.66);
    border-radius: 50px;
    backdrop-filter: blur(2px);
    box-shadow: rgba(10, 231, 65, 0.905) 0px 22px 70px 4px;
    transition: 0.4s;
}
.Reglog{
    display: inline-grid;
}
.innerNav  button {
  border:0px;
  border-radius: 25px;
  height: 40px;
  width: 120px;
  font-size: 20px;
}
.but{
    margin-top: 10px;
    padding:10px;
    border:2px solid rgba(6, 163, 116, 0.863);
    border-radius: 50px;
    background-color:rgba(83, 230, 125, 0.8);
    transition: 0.4s;
}

.hh,.stl , .hh4{
    font-weight: 800;
    color:white;
    font-family: 'Mukta', sans-serif;
}

.sideNav{
    width:250px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 2px;
 
    min-height: 100%;
    padding-top: 50px;
    padding-right: 50px;
    transition: all 1s;
} 
.sideNav.active{
    left:0;
}


ul li{
    list-style-type: none;
    width:150px;
   
}
.insideButton{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px;
    font-size: 18px;
}
ul li button{
    background:transparent;
    color:white;
    text-decoration: none;
    font-size:15px;
    width:150px;
    border:0px transparent;
    display: block;
    padding:10px;
    border-radius: 6px;
    transition: all 0.7s;
}

header{
    height: 80px;
    /* background-color:rgb(190, 29, 29); */
    /* border-bottom: 1px solid white; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px;
    color:white;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    top:0;
    font-family: 'Rampart One', cursive;
    padding-left: 2%;
    padding-top:10px;
    padding-right: 5%;
    /* transition: all 5s; */
}
.headerButton{
    display: flex;
    justify-content: flex-end;
    
}
header button{
    height: 40px;
    width: 120px;
    transition: all 0.5s;
    font-size: 20px;
    background-color: white;
    border: 0px;
    animation: myanimationBut 30s infinite;
    border-radius: 25px;
}

.sideNavHead{
    margin-bottom: 50px;
    margin-top: -23px;
}
.sideNavp{
    transition: all 0.5s;
    font-family: 'Rampart One', cursive;
    color:white;

}
.sideNavp:hover , header button:hover{

    transition: all 0.5s;
}

ul li button:hover , ul li button:active{
    background-color: #ccd1da57;
    /* color:rgb(66, 153, 109); */
    transition: all 0.7s;
}



@keyframes myanimationBut {
    0% {
        color:  rgb(26, 188, 156);
    }
    25%{
        color:  rgb(124, 59, 110);
    }
    50%{
       color:  rgb(211, 84, 0);
    }
    75%{
        color: rgb(152, 174, 96);
    }
    100% {
      color: rgb(26, 188, 156);
    }
  }
.stl{
    font-size: 17px;
}
.but:hover{
    border: 2px solid;
    border-color:whitesmoke;
    background-color: transparent;
}
.ReglogCont:hover {
    background: rgba(107, 223, 153, 0.613);
    border: 2px solid rgba(245, 241, 245, 0.968);
    box-shadow: rgba(15, 225, 169, 0.874) 0px 22px 70px 4px;
}
.navv{
    display: flex;
    position: fixed;
    z-index: 1;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    top:0;
    font-family: 'Rampart One', cursive;
    padding-left: 2%;
    padding-top:10px;
    padding-right: 5%;
    transition: all 0.5s;
}
.navv.active{
    transition: all 0.5s;

    border-bottom: 2px dotted rgba(9, 243, 95, 0.72);
     box-shadow:  rgb(9, 243, 95) 0px 3px 5px -2px;
    border-bottom-style: ridge;
    background-color: rgb(176, 247, 186);
}
.lottie{
    height: 550px;

}
.UnderNavCont{
  display: flex;
  /* justify-content: space-evenly; */
  margin-top: 150px;
  margin-bottom: -100px;
  align-items: flex-start;
}
.Usection {
    width: 500px;
    margin-left: 150px;
    /* margin-right: 50px; */
    color: rgb(66, 153, 109);
    font-family: 'Shantell Sans', cursive;
}
.Usection p{
    font-size: 30px;
}

.Usection h2{
    color: rgb(38, 133, 33);
    font-size: 75px;
    font-family: 'Rampart One', cursive;
}
.audioLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.cardSection{
    min-height: 250px;
    height: auto;
    border-radius: 50px;
    width:200px;
    border: 0px solid transparent;
    transition: 1s ease-out;
    background: rgba(196, 205, 245, 0.097);
}

.audioControls{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.middleSample:hover{
    cursor: pointer;
}
.middleBG {
    background: radial-gradient(circle, rgb(127, 255, 146) 0%, rgba(255,255,255,0) 100%);
}

.middleSection{
    display: grid;
    min-height: 100vh;
    column-gap: 150px;
    grid-template-columns: repeat(auto-fit,15rem);
    justify-content: center; 
    align-items: center; 
}

.dashmidContainer{
    padding-top:40px;
    /* margin-left: 20%; */
    transition: all 1s;
    height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
}
.dashmidContainer::-webkit-scrollbar { 
    display: none; 
}


.wholeDash{
    display: flex;
}

.dashCardContainer{
    flex: 1;
    display: grid !important;
    column-gap: 150px;
    grid-template-columns: repeat(auto-fit,15rem);
    justify-content: center; 
    align-items: center; 
    row-gap: 50px;
}
.dashContainer{
    width:100%;
    height:100%;
    animation: myanimation 30s infinite;
    
}
@keyframes myanimation {
    0% {background-color: rgb(26, 188, 156);}
    25%{background-color: rgb(124, 59, 110);}
    50%{background-color:rgb(211, 84, 0);}
    75%{background-color: rgb(152, 174, 96);}
    100% {background-color: rgb(26, 188, 156);}
  }
.cardSectionActive{
        transition: 1s ease-in;
        border:1px solid rgba(186, 216, 196, 0.702);
}

.modalBackground {
    width: 100vw;
    height: 100vh;
    background-color: rgba(200, 200, 200, 0.73);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContainer {
    width: 500px;
    height: 500px;
    border-radius: 12px;
    /* animation:myanimation; */
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
  }
  
  .modalContainer .title {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
  }
  
  .titleCloseBtn {
    display: flex;
    justify-content: flex-end;
  }
  
  .titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
  }
  .dashNav{
    display: flex;
    flex-direction: column;
    width: 100%;

  }
  .eveIdx{
    animation: rgba(78, 107, 177, 0.398);
  }
  .oddIdx{
    background-color: rgba(203, 108, 172, 0.404);
  }
  .noModalCover{
    display: flex;
  }
  .playTable{
    width: 100%;
  }
  .playTable tr{
    border: 1px;
  }
 .playTable td {  
    border: 1px solid black;  
  }  
  .body input {
border: 0;
  border-bottom: 2px solid gray;
  outline: 0;
  text-align: center;
  }
  .body input::placeholder{
    text-align: center;
  }
  
  .modalContainer .body {
    flex: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    flex-direction: column;
    text-align: center;
  }
  
  .modalContainer .footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContainer .footer button {
    width: 150px;
    height: 45px;
    margin: 10px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
  }
  
  #saveBtn {
    background-color: crimson;
  }