@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Pacifico&display=swap');

.navv{
    border-bottom: 1px dotted black;
    display: flex;
    align-items: center;
    color:whitesmoke;
    font-family: 'Rampart One', cursive;
    padding-left: 5%;
    padding-right: 5%;
    /* padding-top: 7px; */
    justify-content: space-between;
}
