@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Pacifico&display=swap');

.navv{
    border-bottom: 2px dotted rgb(169, 9, 243);
    display: flex;
    align-items: center;
    box-shadow:  rgb(169, 9, 243) 0px 3px 5px -2px;
    /* box-shadow: rgba(186, 3, 222, 0.72) 0px 10px 20px -10px; */
    border-bottom-style: ridge;
    color:whitesmoke;
    font-family: 'Rampart One', cursive;
    padding-left: 5%;
    padding-right: 5%;
    /* padding-top: 7px; */
    justify-content: space-between;
}
